
	<form id="recommendationForm" class="form-inline" onsubmit="return false;">
		<div class="form-group">
			<select class="form-control" id="subcategory">
				<option value="literature+fiction+classics">Fiction: Classics</option>
				<option value="literature+fiction+contemporary">Fiction: Contemporary</option>
				<option value="mystery+thriller+suspense+crime">Mystery: Crime</option>
				<option value="mystery+thriller+suspense+suspense">Mystery: Suspense</option>
				<option value="mystery+thriller+suspense+thrillers">Mystery: Thrillers</option>
				<option value="science+fiction+fantasy+fantasy">Fantasy</option>
				<option value="science+fiction+fantasy+science+fiction">Science Fiction</option>
				<option value="science+fiction+fantasy+dystopian">Dystopian</option>
				<option value="romance+contemporary">Romance: Contemporary</option>
				<option value="non-fiction+biographies+memoirs">Biographies &amp; Memoirs</option>
				<option value="non-fiction+self-help">Self-Help</option>
				<option value="non-fiction+health+fitness+dieting">Health, Fitness &amp; Dieting</option>
				<option value="non-fiction+history">History</option>
				<option value="non-fiction+business+money">Business &amp; Money</option>
			</select>
		</div>
		<div class="form-group">
			<select class="form-control" id="sort">
				<option value="exact-aware-popularity-rank">Best Sellers</option>
				<option value="date-desc-rank">Latest Arrival</option>
			</select>
		</div>
	</form>
	<div class="book-list" id="bookList">
		<div class="book">
			<img src="book-cover1.jpg" alt="Book Cover 1">
			<div class="book-title">Book Title 1</div>
			<div class="book-author">Author 1</div>
			<div class="book-price"><a href="https://www.amazon.com" target="_blank">$9.99</a></div>
		</div>
		<div class="book">
			<img src="book-cover2.jpg" alt="Book Cover 2">
			<div class="book-title">Book Title 2</div>
			<div class="book-author">Author 2</div>
			<div class="book-price"><a href="https://www.amazon.com" target="_blank">$14.99</a></div>
		</div>
		<div class="book">
			<img src="book-cover3.jpg" alt="Book Cover 3">
			<div class="book-title">Book Title 3</div>
			<div class="book-author">Author 3</div>
			<div class="book-price"><a href="https://www.amazon.com" target="_blank">$19.99</a></div>
		</div>
		<div class="book">
			<img src="book-cover4.jpg" alt="Book Cover 4">
			<div class="book-title">Book Title 4</div>
			<div class="book-author">Author 4</div>
			<div class="book-price"><a href="https://www.amazon.com" target="_blank">$12.99</a></div>
		</div>
		<div class="book">
			<img src="book-cover5.jpg" alt="Book Cover 5">
			<div class="book-title">Book Title 5</div>
			<div class="book-author">Author 5</div>
			<div class="book-price"><a href="https://www.amazon.com" target="_blank">$12.99</a></div>
		</div>

	</div>
